/* REGOLE GENERALI */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

a {
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.center5 {
  padding: 0 5%;
}

.center10 {
  padding: 0 10%;
}

.app-store img {
  height: 70px;
}

/* test */

/* [class*="col-"] {
  min-height: 150px;
  background-color: #00FFFF;
  border: solid 1px #000000;
} */

/* REGOLE PER HEADER */

/* NAV */

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  line-height: 80px;
  z-index: 500;
  background-color: #FFFFFF;
}

nav .black {
  color: #000000;
}

#nav-grande .nav-link,
#hamburger {
  text-align: right;
}

#nav-grande .nav-link li {
  display: inline-block;
  font-size: 13px;
}

#nav-grande .nav-link .link {
  margin-right: 18px;
}

#nav-grande .nav-link .divisore {
  margin: 0 9px;
}

#nav-piccolo {
  display: none;
}

/* JUMBOTRON */

#jumbotron {
  margin-top: 80px;
  background-image: url(../img/sfondo_jumbotron.jpg);
  background-size: cover;
  background-position: bottom;
  color: #FFFFFF;
  text-align: center;
}

#jumbotron .opacity {
  background-color:rgba(0, 0, 0, 0.4);
}

#jumbotron h1 {
  font-size: 50px;
  margin: 200px 0 20px;
}

#jumbotron .text {
  font-size: 16px;
  margin-bottom: 10px;
}

#jumbotron .app-store {
  margin-bottom: 200px;
  display: inline-block;
}

/* REGOLE PER MAIN */

/* SECTION PRODOTTI */

main .prodotto {
  background-color: #fafafa;
  margin: 40px 20px;
  text-align: center;
}

main .prodotto h2 {
  font-size: 40px;
  padding: 50px 0 20px;
}

main .prodotto .text {
  font-size: 20px;
}

main .prodotto a {
  display: block;
  font-size: 16px;
  padding: 20px 0 30px;
}

main .prodotto img {
  height: 300px;
  margin-bottom: 50px;
}

/* SECTION TELEFONO */

main .telefono .sfondo_telefono {
  background-image: url(../img/sfondo_telefono.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
}

main .telefono .contenuto_telefono {
  background-color: yellow;
  text-align: center;
}

main .telefono .contenuto_telefono h2 {
  font-size: 30px;
  margin: 100px 0;
}

/* main .telefono .contenuto_telefono img {
  width: 300px;
} */

main .telefono .contenuto_telefono .text1 {
  font-size: 16px;
  margin-top: 100px;
}

main .telefono .contenuto_telefono .text2 {
  font-size: 14px;
  margin-bottom: 100px;
}




/* REGOLE SMARTPHONE */

@media all and (max-width: 768px) {

  /* REGOLE PER HEADER */

  /* NAV */

  #nav-piccolo {
    display: block;
  }

  #nav-grande {
    display: none;
  }

  /* JUMBOTRON */

  #jumbotron h1 {
    font-size: 40px;
  }

  .app-store img {
    height: 50px;
  }

}

/* REGOLE TABLET */

@media all and (min-width: 769px) and (max-width: 992px) {

  /* REGOLE PER HEADER */

  /* NAV */

  #nav-piccolo {
    display: block;
  }

  #nav-grande {
    display: none;
  }

  /* REGOLE PER MAIN */

  /* SECTION PRODOTTI */

  main .prodotto h2 {
    font-size: 30px;
  }

  main .prodotto .text {
    font-size: 16px;
  }

  main .prodotto a {
    font-size: 14px;
  }

  main .prodotto img {
    height: 250px;
  }

}
