/* REGOLE GENERALI */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

a {
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.center5 {
  padding: 0 5%;
}

.center10 {
  padding: 0 10%;
}

.app-store img {
  height: 70px;
}

.opacity {
  background-color:rgba(0, 0, 0, 0.4);
  min-height: 400px;
}

/* test */

/* [class*="col-"] {
  min-height: 150px;
  background-color: #00FFFF;
  border: solid 1px #000000;
} */

/* REGOLE PER HEADER */

/* NAV */

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  line-height: 80px;
  z-index: 500;
  background-color: #FFFFFF;
}

nav .black {
  color: #000000;
}

#nav-grande .nav-link,
#hamburger {
  text-align: right;
}

#nav-grande .nav-link li {
  display: inline-block;
  font-size: 13px;
}

#nav-grande .nav-link .link {
  margin-right: 18px;
}

#nav-grande .nav-link .divisore {
  margin: 0 9px;
}

#nav-piccolo {
  display: none;
}

/* JUMBOTRON */

#jumbotron {
  margin-top: 80px;
  background-image: url(../img/sfondo_jumbotron.jpg);
  background-size: cover;
  background-position: bottom;
  color: #FFFFFF;
  text-align: center;
}

#jumbotron h1 {
  font-size: 50px;
  margin: 200px 0 20px;
}

#jumbotron .text {
  font-size: 16px;
  margin-bottom: 10px;
}

#jumbotron .app-store {
  margin-bottom: 200px;
  display: inline-block;
}

/* REGOLE PER MAIN */

/* SECTION PRODOTTI */

main .prodotto {
  background-color: #fafafa;
  margin: 40px 20px;
  text-align: center;
}

main .prodotto h2 {
  font-size: 40px;
  padding: 50px 0 20px;
}

main .prodotto .text {
  font-size: 20px;
}

main .prodotto a {
  display: block;
  font-size: 16px;
  padding: 20px 0 30px;
}

main .prodotto img {
  height: 300px;
  margin-bottom: 50px;
}

/* SECTION TELEFONO */

main .telefono {
  position: relative;
}

main .telefono img {
  width: 250px;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%, -0%);
}

main .telefono .sfondo_telefono {
  background-image: url(../img/sfondo_telefono.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
}

main .telefono .contenuto_telefono {
  background-color: #FFFFFF;
}

main .telefono .contenuto_telefono .padding10 {
  padding: 0 10%;
}

main .telefono .contenuto_telefono h2 {
  font-size: 26px;
  margin: 100px 0;
}

main .telefono .contenuto_telefono .text1 {
  font-size: 20px;
  margin-top: 110px;
}

main .telefono .contenuto_telefono .text2 {
  font-size: 14px;
}

/* SECTION INFORMAZIONI */

main .info {
  min-height: 400px;
  color: #FFFFFF;
  text-align: center;
}

main .info .white {
  color: #FFFFFF;
}

main .info.first {
  background-image: url(../img/sfondo_info1.jpg);
  background-size: cover;
  background-position: center;
}

main .info.first .info-container{
  padding: 100px 10% 100px 60%;
}

main .info.second {
  background-image: url(../img/sfondo_info2.png);
  background-size: 180px, 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #323F4D;
  margin: 40px 20px 40px 0;
  padding: 0 20px;
}

main .info.third {
  background-image: url(../img/sfondo_info3.jpg);
  background-size: cover;
  margin: 40px 0 40px 20px;
}

main .info.first h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

main .info h2 {
  font-size: 30px;
  padding: 30px 0 20px;
}

main .info .text,
main .info a {
  font-size: 18px;
  margin-bottom: 20px;
}

main .info a:nth-of-type(2) {
  margin-left: 10px;
}


/* REGOLE SMARTPHONE */

@media all and (max-width: 768px) {

  /* REGOLE PER HEADER */

  /* NAV */

  #nav-piccolo {
    display: block;
  }

  #nav-grande {
    display: none;
  }

  /* JUMBOTRON */

  #jumbotron h1 {
    font-size: 40px;
  }

  .app-store img {
    height: 50px;
  }

  /* REGOLE PER MAIN */

  /* SECTION TELEFONO */

  main .telefono .contenuto_telefono h2 {
    margin: 300px 0 20px;
  }

  main .telefono .contenuto_telefono .text1 {
    margin: 0 0 10px;
  }

  main .telefono .contenuto_telefono .text2 {
    margin-bottom: 50px;
  }

  /* SECTION INFORMAZIONI */

  main .info.first .info-container{
    padding: 100px 20%;
  }

  main .info.first h1 {
    font-size: 30px;
  }

  main .info.second,
  main .info.third {
    margin: 40px 0 0;
  }


}

/* REGOLE TABLET */

@media all and (min-width: 769px) and (max-width: 992px) {

  /* REGOLE PER HEADER */

  /* NAV */

  #nav-piccolo {
    display: block;
  }

  #nav-grande {
    display: none;
  }

  /* REGOLE PER MAIN */

  /* SECTION PRODOTTI */

  main .prodotto h2 {
    font-size: 30px;
  }

  main .prodotto .text {
    font-size: 16px;
  }

  main .prodotto a {
    font-size: 14px;
  }

  main .prodotto img {
    height: 250px;
  }

/* SECTION INFORMAZIONI */

main .info.first .info-container{
  padding: 100px 5% 100px 50%;
}

main .info.first h1 {
  font-size: 40px;
}

}
